*{
	margin: 0;
	padding: 0;
	/*border: 0;*/
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	/*font-size: 100%;*/
	font-family: inherit;
	vertical-align: baseline;
}


#wrapper{
width:100%;
margin-left:auto;
margin-right:auto;
clear:both;
}

nav{
height:0px;
position:fixed;
top:0px;
width:100%;
z-index:2000;
}

#busca{
	margin-left: 70%;
	margin-top: -70px;
	margin-bottom:;
	
}

#busca a{
	color: #fff;
}


#registre-se a{
	position:relative;
	top:-15px;
	left: 77%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	height:150px;
	
}

#login a{
	position:relative;
	top:-35px;
	left: 88%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	
}




header{
position:relative;
top:40px;
width:100%;
padding-top:1%;
padding-bottom:1%;
/*float:top;*/

/*clear:both;*/
background-color:#ff5400;

}

div > .csslider1{
position:relative;
top:40px;
}

	
main {
position:relative;
top:40px;
width: 98%;

/*float: left;*/

padding:1%;
}

footer{
	position:relative;
	top:40px;
	width: 98%;
	background-color: #ccf;
	padding: 1%;
	/*clear:both;*/
	/*margin-top: 10px;*/
}

#logo{
	width:42%;
	margin-left:30%;
}

#soc1{
width:3%;
}

#soc2{
width:3%;
}

#soc3{
width:3%;
}

.depoimentos{
border-radius:100%;
/*width:100%;*/
}

#dep1{
margin-left:15%;
width:14.7%
}

#dep2{
margin-left:15%;
width:14.7%;
}

#dep3{
margin-left:15%;
width:14.7%
}

#dep4{
margin-left:15%;
width:14.7%
}

#dep5{
margin-left:15%;
width:14.7%
}

#dep6{
margin-left:15%;
width:14.7%
}



.artigos{
margin-top:50px;
}

article h3{
margin-top:20px;
}

article p{
margin-top:20px;
}

main h2{
margin-top:20px;
}

main p{
margin-top:20px;
}

main img{
width:50%;
}

main a input{
padding:1%;	
}

form fieldset{
padding:10px;
}

form{
margin-top:20px;
margin-bottom:20px;
}

.cp_aereas{
width:25%;
margin-left:5%;
margin-bottom:1%;
margin-right:1%;
margin-top:1%;
}

footer p{
display:block;
}

main h2 a{
text-decoration:underline;	
}

legend{
font-weight:bold;
font-size:24px;
}

@media screen and (max-width:319px) {
	body{
	background-color:#eee;
	}
	
	p, li {
	font-size: 120%
	}
	
	h1{
	font-size:220%;
	margin-left:18%;
	}
	
	#soc1{
	width:20px;
	}
	
	#soc2{
	width:20px;
	}

	#soc3{
	width:20px;
	}
	
	main img{
	margin-left:20%;	
	}
	
	.imgvisto{
	position:absolute;
	left:72%;
	width:20px;
	}
	
	.imgprocessamento{
	position:absolute;
	left:72%;
	width:20px;
	}
	
	.imgnegado{
	position:absolute;
	left:72%;
	width:20px;
	}
	
	#busca input, #busca a, #registre-se a, #login a{
    display: none;
    }
}

@media screen and (min-width:320px) and (max-width:479px){
	body{
	background-color:#eee;
	}
	
	p, li {
	font-size: 115%
	}
	
	
	h1{
	font-size:215%;
	margin-left:28%
	}
	
	#soc1{
	width:20px;
	}
	
	#soc2{
	width:20px;
	}

	#soc3{
	width:20px;
	}
	
	main img{
	margin-left:24%;	
	}
	
	.imgvisto{
	position:absolute;
	left:63%;
	width:20px;
	}
	
	.imgprocessamento{
	position:absolute;
	left:63%;
	width:20px;
	}
	
	.imgnegado{
	position:absolute;
	left:63%;
	width:20px;
	}
	
	#busca input, #busca a, #registre-se a, #login a{
    display: none;
    }
	
	
}

@media screen and (min-width:480px) and (max-width:767px){
	body{
	background-color:#eee;
	}
	
	p, li {
	font-size: 110%
	}
	
		
	h1{
	font-size:210%;
	margin-left:35%
	}
	
	#soc1{
	width:20px;
	}
	
	#soc2{
	width:20px;
	}

	#soc3{
	width:20px;
	}
	
	.imgvisto{
	position:absolute;
	left:57%;
	width:20px;
	}
	
	.imgprocessamento{
	position:absolute;
	left:57%;
	width:20px;
	}
	
	.imgnegado{
	position:absolute;
	left:57%;
	width:20px;
	}
	
	#busca input, #busca a, #registre-se a, #login a{
    display: none;
    }
	
}

@media screen and (min-width:768px) and (max-width:959px) {
	body{
	background-color:#eee;
	}
	
	p, li {
	font-size: 105%
	}
	
	h1{
	font-size:205%;
	margin-left:42%
	}
	
	#soc1{
	width:3%;
	}
	
	#soc2{
	width:3%;
	}

	#soc3{
	width:3%;
	}
	
	.imgvisto{
	position:absolute;
	left:35%;
	width:20px;
	}
	
	.imgprocessamento{
	position:absolute;
	left:35%;
	width:20px;
	}
	
	.imgnegado{
	position:absolute;
	left:35%;
	width:20px;
	}
	
	#busca a{
    margin-left: -50%;
    }
    
    #busca input{
    }
    
    #registre-se a{
	margin-left: -15%;	    
    }
    
    #login a{
    margin-left: -10%;
    }

}

@media screen and (min-width:960px){
	body{
	background-color:#eee;
	}
	
	p, li {
	font-size: 100%
	}
	
	h1{
	font-size:200%;
	margin-left:47%
	}
	
	#soc1{
	width:3%;
	}
	
	#soc2{
	width:3%;
	}

	#soc3{
	width:3%;
	}
	
	main img{
	margin-left:25%;	
	}
	
	.imgvisto{
	position:absolute;
	left:1%;
	width:20px;
	}
	
	.imgprocessamento{
	position:absolute;
	left:1%;
	width:20px;
	}
	
	.imgnegado{
	position:absolute;
	left:1%;
	width:20px;
	}
	
	#busca a{
    margin-left: -50%;
    }
    
    #busca input{
    }
    
    #registre-se a{
	left:58%;    
    }
    
    #login a{
   	top: -33px; 
    /*left: 70%;*/
    margin-left:-20%;
    }
	

		
	
}